* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
}
.data {
  border: 1px solid black;
  overflow: auto;
}
button{
    transition: .5s;
}
